* {
    background-color: #000000;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    margin: 0;
    text-decoration: none;
    padding: 0;
}

a{
    color: white;
}

#burger, [for=burger]{
    display:none;
}

.logotipadaptiv{
    display: none;
}

@font-face {
    font-family: "Bergamasco Bold";
    src:
      local("Bergamasco Bold"),
      url("../fonts/Bergamasco\ Bold.otf")
  }

@font-face {
    font-family: "Bergamasco Light";
    src:
      local("Bergamasco Light"),
      url("../fonts/Bergamasco\ Light.otf")
  }

@font-face {
    font-family: "Bergamasco Regular";
    src:
      local("Bergamasco Regular"),
      url("../fonts/Bergamasco\ Regular.otf")
  }

/* шапка начало */
header {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    font-weight: 300;
}

 .cabinet{
    position: relative;
    left: 120px;
    color: white;
 }

 .buttonvhod{
    margin-top: 20px;
 }

.avatarlaa{
    width: 50px;
    height: 50px;
}

nav {
    margin-left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.headerpunkt {
    color: white;
    font-size: 14px;
}

.enter{
    position: relative;
    left: 290px;
    color: white;
    border:0.1px solid white;
    width: 141px;
    font-weight: lighter;
    height: 24px;
    font-size: 14px;
    transition: 0.5s;
}

.avatarlaa{
    position: relative;
    left: 200px;
    top: 20px;
}

.exittt{
    position: relative;
    left: 290px;
    color: white;
    border:0.1px solid white;
    width: 141px;
    font-weight: lighter;
    height: 24px;
    font-size: 14px;
    transition: 0.5s;
    bottom: 10px;
}

.exittt:hover{
    background-color: white;
    color: black;
}

.enter:hover{
    background-color: white;
    color: black;
}

.logotip{
    width: 120px;
}
/* шапка конец */


/* блок подвал начало */
footer{
    font-family: "Montserrat";
    margin-top: 120px;
    margin-bottom: 40px;
}

.podval{
    display: flex;
    justify-content: center;
}

.credit{
    color: white;
}

.navfoot{
    color: white;
    margin-left: 80px;
}

.dopnav{
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
}

.mainav{
    font-size: 20px;
}

.logotrip{
    font-size: 32px;
    font-family: 'Bergamasco Light';
    font-weight: 200;
    margin-bottom: 10px;
}

.opisaniebrend{
    width: 500px;
    margin-bottom: 90px;
}

.copyright{
    color: rgba(255, 255, 255, 0.253);
}

.credit{
    margin-right: 360px;
}
/* блок подвала конец */

/* адаптация под ipad начало */
@media screen and (max-width: 820px){
/* шапка начало */
header {
font-family: "Montserrat", sans-serif;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 60px;
margin-top: 40px;
font-weight: 300;
}

.cabinet{
position: relative;
left: 120px;
color: white;
}

.buttonvhod{
margin-top: 20px;
}

.avatarlaa{
width: 50px;
height: 50px;
}

nav {
margin-left: 140px;
display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

.headerpunkt {
color: white;
font-size: 12px;
}

.enter{
position: relative;
left: 190px;
color: white;
border:0.1px solid white;
width: 141px;
font-weight: lighter;
height: 24px;
font-size: 14px;

transition: 0.5s;
}

.avatarlaa{
position: relative;
left: 200px;
top: 20px;
}

.exittt{
position: relative;
left: 1px;
color: white;
border:0.1px solid white;
width: 141px;
font-weight: lighter;
height: 24px;
font-size: 14px;
transition: 0.5s;
bottom: 10px;
}

.cabinet{
display: none;
}
.exittt:hover{
background-color: white;
color: black;
}

.enter:hover{
background-color: white;
color: black;
}

.logotip{
width: 120px;
}

/* блок подвал начало */
footer{
    font-family: "Montserrat";
    margin-top: 120px;
    margin-bottom: 40px;
}

.podval{
    display: flex;
    justify-content: center;
}

.credit{
    color: white;
}

.navfoot{
    color: white;
    margin-left: 80px;
}

.dopnav{
    font-size: 12px;
    font-weight: 200;
    margin-top: 20px;
}

.mainav{
    font-size: 20px;
}

.logotrip{
    font-size: 28px;
    font-family: 'Bergamasco Light';
    font-weight: 200;
    margin-bottom: 10px;
}

.opisaniebrend{
    width: 300px;
    margin-bottom: 90px;
}

.copyright{
    color: rgba(255, 255, 255, 0.253);
    font-size: 12px;
}

.credit{
    margin-right: 10px;
}

footer{
    font-family: "Montserrat";
    margin-top: 120px;
    margin-bottom: 40px;
}

.podval{
    display: flex;
    justify-content: center;
}

.credit{
    color: white;
}

.navfoot{
    color: white;
    margin-left: 80px;
}

.dopnav{
    font-size: 12px;
    font-weight: 200;
    margin-top: 20px;
}

.mainav{
    font-size: 20px;
}

.logotrip{
    font-size: 28px;
    font-family: 'Bergamasco Light';
    font-weight: 200;
    margin-bottom: 10px;
}

.opisaniebrend{
    width: 300px;
    margin-bottom: 90px;
}

.copyright{
    color: rgba(255, 255, 255, 0.253);
    font-size: 12px;
}

.credit{
    margin-right: 10px;
}
/* блок подвала конец *
/* блок подвала конец */
}
/* адапатация под ipad конец */

/* адаптив телефон */
@media screen and (max-width: 415px){

    header{
        display: flex;
    }

    .exittt{
        position: relative;
        left: 2px;
        color: white;
        border:0.1px solid white;
        width: 141px;
        font-weight: lighter;
        height: 24px;
        font-size: 14px;
        transition: 0.5s;
        background-color: transparent;
        bottom: 20px;
    }

    .cabinet{
        position: relative;
        left: 1px;
        color: black;
     }

     .exit222{
        background-color: transparent;
     }


    nav{
        background-color: #efefef;
        z-index: 1000;
        color: white;
        display: none;
        position: fixed;
        right: 60px;
        top: 10px;
        width: 65%;
        height: 100%;
    }

    .logotip{
        display: none;
    }

    .enter{
        position: relative;
        color: black;
        border:1px solid black;
        background-color: transparent;
        background-color: white;
        width: 141px;
        font-weight: lighter;
        height: 24px;
        font-size: 14px;
        transition: 0.5s;
    }

    .enter:hover{
        display: none;
    }

    .links{
        background-color: transparent;
        color: black;
    }

    .headpic{
        display: none;
    }

    .logotipadaptiv{
        width: 100px;
        height: auto;
        margin-top: 10px;
        margin-left: 30px;
        display: block;
        position: relative;
        bottom: 30px;
        right: 30px;
    }

    [for=burger]{
    z-index: 1;
      display: block;
      position: fixed;
      right: 20px;
      top: 5px;
  }

  .headerpunkt{
    background-color: transparent;
    color: black;
    font-size: 20px;
  }

  .headpicadaptiv{
    margin-top: 10px;
    margin-left: 100px;
    display: block;
  }

  .headpic{
    display: none;
  }

  [for=burger]::before{
      color: white;
      z-index: 1;
      content: '≡';
      font-size: 50px;
  }

  #burger:checked + label + nav{
     display: flex;
     flex-direction: column;
     font-size: 25px;
      animation: show 0.5s;
      gap: 60px;
  }

  #burger:checked + [for = burger]::before{
      content: '⊗';
      color: white;
      z-index: 2;
      font-size: 30px;
      animation: show 0.5s;
  }

  @keyframes show{
      0%{
          opacity: 0;
      }

      100%{
          opacity: 1;
      }
  }

  nav{
    display: none;
  }

  .exittt{
    background-color: transparent;
  }

  div{
    background-color: transparent;
  }

  .cabinet{
        background-color: transparent;
        font-size: 20px;
        position: relative;
        bottom: 30px;
  }

  .exittt{
    color: red;
    border: transparent;
    font-family: "Montserrat";
    font-weight: 300;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 40px;
  }

  a{
    background-color: transparent;
  }

  .enter{
    font-size: 20px;
  }

  /* блок подвал начало */
footer{
    font-family: "Montserrat";
    margin-top: 80px;
    margin-bottom: 40px;
}

.podval{
    display: block;
    justify-content: center;
}

.credit{
    color: white;
    margin-left: 80px;
}

.navfoot{
    color: white;
    margin-left: 80px;
    margin-bottom: 20px;
}

.dopnav{
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
}

.mainav{
    font-size: 20px;
}

.logotrip{
    font-size: 32px;
    font-family: 'Bergamasco Light';
    font-weight: 200;
    margin-bottom: 10px;
}

.opisaniebrend{
    width: 260px;
    margin-bottom: 30px;
}

.copyright{
    display: none;
    color: rgba(255, 255, 255, 0.253);
}

.credit{
    margin-right: 3px;
}
}

.my-custom-popup {
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 0 10px rgba(0,0,0,.2); /* Тень вокруг блока */
}

.swal2-title {
    font-size: 1.2em; /* Размер шрифта заголовка */
    background-color: transparent;
    font-family: 'Bergamasco Light';
}

.swal2-icon-success {
    fill: #3eba54 !important; /* Изменение цвета успешной иконки */
}



.exittt2{
position: relative;
left: 290px;
color: white;
border:0.1px solid white;
width: 141px;
font-weight: lighter;
height: 24px;
font-size: 14px;
transition: 0.5s;
bottom: 20px;
}
